.title
{
    position: absolute;
    align-items: center;
    text-align: center;
    width: 100%;
    >.img
    {
       width: 32px;
        height: 32px;
        
    }
    >.left
    {
        position: absolute;
        left: 0;
        padding: 4px;
        font-family: poppins;
        font-size: 24px;
    }
    >.right
{
    position: absolute;
    right: 0;
    padding-right: 10px;
    .img
    {
        width: 32px;
        padding: 4px;
        
        &.sbox
        {
            border-radius: 12px;
        }
    }
}

}
.main
{
    background: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    >.box
    {
        border: 5px solid;
        border-radius: 16px;
        width: 200px;
        height: 300px;
        align-items: center;
        justify-content: center;
        text-align: center;
        >.header
        {
            font-family: poppins;
            font-size: 24px;
            padding: 8px;
        }
    }
}
h1
{
    font-family: poppins;
    font-size: 24px;
    padding: 8px;
}
.img
{
    border-radius: 16px;
    width: 120px;
}
