.right
{
    position: absolute;
    right: 0;
    >.links
    {
        margin-left: 2px;
        background-color: rgb(98, 95, 109);
        padding: 10px;
        border-radius: 8px;
        font-family: poppins;
        &:hover
        {
            background-color: rgb(20, 20, 255);
            color: white;
        }
    }
}

.left
{
    position: absolute;
    left: 0;
    margin-left: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .titles
    {
        >.title
        {
            font-size: 21px;
            font-weight: bold;
            margin-bottom: 16px;
        }
        
    }
}

.games
{
    width: 200px;
    height: 200px;
    border-radius: 16px;
    
}

